@use 'config';

div.source-code-outer {
    display: block;
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: config.$color-gray-1;

    > button.original-code-copy {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        > img.original-code-copy {
            width:  1rem;
            height: 1rem;
        }
    }

    > div.source-code-inner {
        display: block;
        padding: 1rem 1rem 1rem 3rem;
        border: config.$common__border_width solid config.$color-gray-3;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: config.$common__code__font_family;
        font-weight: config.$common__code__font_weight;
        font-size:   config.$common__code__font_size;

        > ol {
            > li {
                user-select: all;

                &::marker {
                    color: config.$color-gray-3;
                }

                &:hover {
                    background-color: config.$color-gray-2;

                    &::marker {
                        color: config.$color-gray-9;
                    }
                }

            }
        }
    }
}

figure.illustration-outer {
    position: relative;
    width: max-content;
    padding: 0.5rem;

    > button.original-code-copy {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        > img.original-code-copy {
            width:  1rem;
            height: 1rem;
        }
    }

    > img.illustration-inner {
        padding: 1rem 1rem 1rem 1rem;
        border: config.$common__border_width solid config.$color-gray-3;
    }

    > figcaption.illustration-inner {
        font-style: italic;
    }
}

div.admonition-outer {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem;

    > div.admonition-inner {
        display: grid;
        grid-template-columns: 1rem auto 1rem auto 1rem ;
        grid-template-rows: 1rem auto 1rem ;


        > figure.admonition {
            grid-column-start: 2;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;

            > img.admonition {
                margin: 1rem;
                width:  4rem;
                height: 4rem;
            }
        }

        > p.admonition {
            grid-column-start: 4;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }
    }
}

@mixin admonition-specific($kind, $color-background, $color-border, $color-icon) {
    div.admonition-outer-#{$kind} {
        background-color: #{$color-background};

        > div.admonition-inner-#{$kind} {
            border: config.$common__border_width solid #{$color-border};

            > figure.admonition-#{$kind} {
                background-color: #{$color-icon};
            }
        }
    }
}

@include admonition-specific(note,    config.$color-blue-1,   config.$color-blue-3,   config.$color-blue-9);
@include admonition-specific(tip,     config.$color-green-1,  config.$color-green-3,  config.$color-green-9);
@include admonition-specific(warning, config.$color-red-1,    config.$color-red-3,    config.$color-red-9);
@include admonition-specific(caution, config.$color-orange-1, config.$color-orange-3, config.$color-orange-9);

@mixin datatable-sorted-column-specific($index) {
    &.sorted-#{$index}-asc  { > thead, > tfoot { > tr > th { &:nth-child(#{$index}) { background-color: config.$color-gray-9; color: config.$color-white-1; > span.sort-icon::after { content: '🠟' } } } } }
    &.sorted-#{$index}-desc { > thead, > tfoot { > tr > th { &:nth-child(#{$index}) { background-color: config.$color-gray-9; color: config.$color-white-1; > span.sort-icon::after { content: '🠝' } } } } }
    &.sorted-#{$index}-asc  { > thead, > tfoot { > tr > th { &:nth-child(#{$index}) { background-color: config.$color-gray-9; color: config.$color-white-1; > span.sort-icon::after { content: '🠟' } } } } }
    &.sorted-#{$index}-desc { > thead, > tfoot { > tr > th { &:nth-child(#{$index}) { background-color: config.$color-gray-9; color: config.$color-white-1; > span.sort-icon::after { content: '🠝' } } } } }
    &.sorted-#{$index}-asc  { > tbody { > tr:nth-child(even) > th:nth-child(#{$index}) { background-color: config.$color-gray-3; } } }
    &.sorted-#{$index}-desc { > tbody { > tr:nth-child(even) > th:nth-child(#{$index}) { background-color: config.$color-gray-3; } } }
    &.sorted-#{$index}-asc  { > tbody { > tr:nth-child(even) > td:nth-child(#{$index}) { background-color: config.$color-gray-3; } } }
    &.sorted-#{$index}-desc { > tbody { > tr:nth-child(even) > td:nth-child(#{$index}) { background-color: config.$color-gray-3; } } }
}

div.data-table-outer {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: config.$color-gray-1;

    > button.original-code-copy {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        > img.original-code-copy {
            width:  1rem;
            height: 1rem;
        }
    }

    div.data-table-inner {
        background-color: config.$color-white-1;
        border: config.$common__border_width solid config.$color-gray-3;

        table.data-table {
            width: 100%;
            border-collapse: collapse;

            @include datatable-sorted-column-specific(1);
            @include datatable-sorted-column-specific(2);
            @include datatable-sorted-column-specific(3);
            @include datatable-sorted-column-specific(4);
            @include datatable-sorted-column-specific(5);
            @include datatable-sorted-column-specific(6);
            @include datatable-sorted-column-specific(7);
            @include datatable-sorted-column-specific(8);
            @include datatable-sorted-column-specific(9);
            @include datatable-sorted-column-specific(10);
            @include datatable-sorted-column-specific(11);
            @include datatable-sorted-column-specific(12);
            @include datatable-sorted-column-specific(13);
            @include datatable-sorted-column-specific(14);
            @include datatable-sorted-column-specific(15);
            @include datatable-sorted-column-specific(16);
            @include datatable-sorted-column-specific(17);
            @include datatable-sorted-column-specific(18);
            @include datatable-sorted-column-specific(19);
            @include datatable-sorted-column-specific(20);

            > thead, > tfoot {
                background-color: config.$color-gray-2;

                > tr {
                    > th:first-child {
                        width: 2rem;
                        text-align: right;
                        font-family: config.$common__code__font_family;
                    }

                    > th {
                        position: relative;
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        text-align: left;
                        border-left: config.$common__border_width solid config.$color-gray-5;
                        cursor: pointer;
                        user-select: none;

                        &:first-child {
                            border-left: none;
                        }

                        &.data-cell-decimal {
                            text-align: right;
                        }

                        &:hover {
                            background-color: config.$color-orange-1;
                        }

                        > span.sort-icon {
                            position: absolute;
                            width: 1rem;
                            right: 0;
                            text-align: center;
                        }
                    }
                }
            }

            > tbody {
                > tr {
                    &:nth-child(even) {
                        background-color: config.$color-gray-1;
                    }

                    &:hover {
                        background-color: config.$color-orange-1;
                    }

                    > th:first-child {
                        padding: 0.5rem 1rem;
                        text-align: right;
                        font-family: config.$common__code__font_family;
                    }

                    > td {
                        padding: 0.5rem 1rem;
                        border-left: config.$common__border_width solid config.$color-gray-5;
                        user-select: all;

                        &.data-type-currency {
                            text-align: right;
                            font-family: config.$common__code__font_family;
                        }

                        &.data-type-decimal {
                            text-align: right;
                            font-family: config.$common__code__font_family;
                        }

                        &.data-type-number {
                            text-align: right;
                            font-family: config.$common__code__font_family;
                        }

                        &.data-type-percent {
                            text-align: right;
                            font-family: config.$common__code__font_family;
                        }

                        &.data-type-scientific {
                            text-align: right;
                            font-family: config.$common__code__font_family;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: config.$body__responsive_threshold) {
    div.source-code-outer {
        > div.source-code-inner {
            max-width: calc(100vw - #{config.$layout__lside_width + config.$layout__rside_width + 3}rem);
        }
    }
}
