@use 'config';

body {
    > main {
        > article {
            display: grid;
            grid-template-columns: auto 1fr auto;
            row-gap: config.$main__section_spacing;
            padding: config.$main__article_padding;

            > h1 {
                grid-column-start: 1;
                grid-column-end: span 3;
            }

            > nav.nav-versions {
                grid-column-start: 1;
                grid-column-end: span 1;

                > menu.nav-versions {
                    list-style-type: none;
                    font-family: config.$main__article__menu__font_family;
                    font-weight: config.$main__article__menu__font_weight;

                    > li.nav-versions {
                        display: inline-block;

                        > a.nav-versions {
                            padding: config.$main__nav_a_padding;
                        }

                        & + li.nav-versions {
                            border-left: config.$common__border_width dotted config.$main__article__mutation_separator___color;
                        }
                    }
                }
            }

            > nav.nav-cultures {
                grid-column-start: 3;
                grid-column-end: span 1;
                grid-row-end: span 1;

                > menu.nav-cultures {
                    list-style-type: none;
                    font-family: config.$main__article__menu__font_family;
                    font-weight: config.$main__article__menu__font_weight;

                    > li.nav-cultures {
                        display: inline-block;

                        > a.nav-cultures {
                            padding: config.$main__nav_a_padding;
                        }

                        & + li.nav-cultures {
                            border-left: config.$common__border_width dotted config.$main__article__mutation_separator___color;
                        }
                    }
                }
            }

            > p {
                grid-column-start: 1;
                grid-column-end: span 3;
                color: config.$main__article__foreword___color;
                padding: config.$main__p_padding;
            }

            > section {
                grid-column-start: 1;
                grid-column-end: span 3;
            }

            > aside {
                grid-column-start: 1;
                grid-column-end: span 3;

                div.aside-content {
                    background-color: config.$main__aside__background_color;
                    color: config.$main__aside__color;
                }
            }

            > section[data-level=h1] + aside {
                > div.header-placeholder {
                    font-family: config.$common__hx__font_family;
                    font-weight: config.$common__hx__font_weight;
                    font-size:   config.$common__h1__font_size;
                    margin:     (config.$common__h1__font_size / 6) 0 (config.$common__h1__font_size / 2) 0;
                }
            }

            > section[data-level=h2] + aside {
                > div.header-placeholder {
                    font-family: config.$common__hx__font_family;
                    font-weight: config.$common__hx__font_weight;
                    font-size:   config.$common__h2__font_size;
                    margin:     (config.$common__h2__font_size / 2) 0;
                }
            }

            > section[data-level=h3] + aside {
                > div.header-placeholder {
                    font-family: config.$common__hx__font_family;
                    font-weight: config.$common__hx__font_weight;
                    font-size:   config.$common__h3__font_size;
                    margin:     (config.$common__h3__font_size / 2) 0;
                }
            }

            > section[data-level=h4] + aside {
                > div.header-placeholder {
                    font-family: config.$common__hx__font_family;
                    font-weight: config.$common__hx__font_weight;
                    font-size:   config.$common__h4__font_size;
                    margin:     (config.$common__h4__font_size / 2) 0;
                }
            }

            > section[data-level=h5] + aside {
                > div.header-placeholder {
                    font-family: config.$common__hx__font_family;
                    font-weight: config.$common__hx__font_weight;
                    font-size:   config.$common__h5__font_size;
                    margin:     (config.$common__h5__font_size / 2) 0;
                }
            }

            > section[data-level=h6] + aside {
                > div.header-placeholder {
                    font-family: config.$common__hx__font_family;
                    font-weight: config.$common__hx__font_weight;
                    font-size:   config.$common__h6__font_size;
                    margin:     (config.$common__h6__font_size / 2) 0;
                }
            }
        }
    }
}

@media only screen and (min-width: config.$body__responsive_threshold_small) and (max-width: config.$body__responsive_threshold_large) {

}


@media only screen and (min-width: config.$body__responsive_threshold_large) {
    body[data-has-rside="yes"] {
        > main {
            > article {
                grid-template-columns: auto 1fr auto #{config.$layout__rside_width}rem;

                > h1 {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                }

                > nav.nav-versions {
                    grid-column-start: 1;
                    grid-column-end: span 1;
                }

                > nav.nav-cultures {
                    grid-column-start: 3;
                    grid-column-end: span 1;
                    grid-row-end: span 1;
                }

                > p {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                }

                > section {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                }

                > aside {
                    grid-column-start: 4;
                    grid-column-end: span 1;
                }
            }
        }
    }

    body[data-has-rside="no"] {
        > main {
            > article {
                grid-template-columns: auto 1fr auto;

                > h1 {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                }

                > nav.nav-versions {
                    grid-column-start: 1;
                    grid-column-end: span 1;
                }

                > nav.nav-cultures {
                    grid-column-start: 3;
                    grid-column-end: span 1;
                    grid-row-end: span 1;
                }

                > p {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                }

                > section {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                }

                > aside {
                    display: none;
                }
            }
        }
    }
}
