@use 'config';

code.source-code-outer {
    display: block;
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: config.$color-gray-1;

    > button.original-code-copy {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        > img.original-code-copy {
            width:  1rem;
            height: 1rem;
        }
    }

    > pre.source-code-inner {
        display: block;
        padding: 1rem 1rem 1rem 3rem;
        border: config.$common__border_width solid config.$color-gray-3;
        white-space: pre-wrap;
        word-wrap: break-word;

        > ol {
            > li {
                &::marker {
                    color: config.$color-gray-3;
                }

                &:hover {
                    background-color: config.$color-gray-2;

                    &::marker {
                        color: config.$color-gray-9;
                    }
                }

            }
        }
    }
}

figure.illustration-outer {
    position: relative;
    width: max-content;
    padding: 0.5rem;

    > button.original-code-copy {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        > img.original-code-copy {
            width:  1rem;
            height: 1rem;
        }
    }

    > img.illustration-inner {
        padding: 1rem 1rem 1rem 1rem;
        border: config.$common__border_width solid config.$color-gray-3;
    }

    > figcaption.illustration-inner {
        font-style: italic;
    }
}

div.admonition-outer {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem;

    > div.admonition-inner {
        display: grid;
        grid-template-columns: 1rem auto 1rem auto 1rem ;
        grid-template-rows: 1rem auto 1rem ;


        > figure.admonition {
            grid-column-start: 2;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;

            > img.admonition {
                margin: 1rem;
                width:  4rem;
                height: 4rem;
            }
        }

        > p.admonition {
            grid-column-start: 4;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }
    }
}

@mixin admonition-specific($kind, $color-background, $color-border, $color-icon) {
    div.admonition-outer-#{$kind} {
        background-color: #{$color-background};

        > div.admonition-inner-#{$kind} {
            border: config.$common__border_width solid #{$color-border};

            > figure.admonition-#{$kind} {
                background-color: #{$color-icon};
            }
        }
    }
}

@include admonition-specific(note,    config.$color-blue-1,   config.$color-blue-3,   config.$color-blue-9);
@include admonition-specific(tip,     config.$color-green-1,  config.$color-green-3,  config.$color-green-9);
@include admonition-specific(warning, config.$color-red-1,    config.$color-red-3,    config.$color-red-9);
@include admonition-specific(caution, config.$color-orange-1, config.$color-orange-3, config.$color-orange-9);

td {
    border: 1px solid black;
    padding: 0.1rem 0.5rem;
}

th {
    border: 1px solid black;
    padding: 0.1rem 0.5rem;
}

@media only screen and (min-width: config.$body__responsive_threshold) {
    code.source-code-outer {
        > pre.source-code-inner {
            max-width: calc(100vw - #{config.$layout__lside_width + config.$layout__rside_width + 3}rem);
        }
    }
}
