<!DOCTYPE html>
<html>
    <head>
{% block head %}
{% endblock head %}
    </head>
    <body>
        <h1 id="h1_778844813889922_30091958290814">{{ this.variables.title }}</h1>
{% block body %}
{% block content %}
{% endblock content %}
{% endblock body %}
    </body>
</html>
